<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diretivas v-if e v-else</title>
</head>

<body>
    <div id="directivees">
        <h1 v-if="show">Bruno Nogueira</h1>
        <h3 key="available" v-if="tickets >= 50">Há ingressos</h3>
        <h3 key="almost" v-else-if="tickets >= 1">Os ingressos estão acabando</h3>
        <h3 key="empty" v-else>Não há ingressos</h3>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>

    <script>
        let app = new Vue({
            el: '#directivees',
            data: {
                show: true,
                tickets: 100
            }
        });
    </script>
</body>

</html>